# add requirements for venv 
name: bac

channels:
 - pytorch
 - nvidia
 - conda-forge
 
dependencies: 
numpy 
pandas
# partitura has to be installed with pip
miditok
pytorch-lightning
transformers
matplotlib
scipy
pytorch 
torchvision 
torchaudio 
pytorch-cuda=12.1
pretty_midi
fluidsynth
jupyterlab
soundfile
pypianoroll
